In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
df= pd.DataFrame({'a' : [1,2,3], 'b' : [2,3,4]})
type(df)

In [ ]:
df

In [ ]:
df['a']

In [ ]:
type(df['a'])

In [ ]:
df['a'].values #출력 : array([1, 2, 3])
test = df['a'].values

In [ ]:
#넘파이는 선형대수에 관한 패키지 
DF에서 행 또는 열을 가져오면 시리즈가 된다.
DF하나의 원소는 넘파이로 되어있다.

넘파이로 시리즈, 시리즈로 DF를 만든것? 
아닌것같음. 행도 시리즈, 열도 시리즈인데 겹치는 부분은 어느 시리즈에 속했는지가 명확하지 않음. 
DF는 시리즈로 구성되어있지 않음. DF에서 행 또는 열을 추츨하면 시리즈가 되는것일 뿐 DF와 시리즈는 포함관계가 아님님

In [ ]:
pip install pymysql

In [ ]:
import pymysql
conn = pymysql.connect(host='222.112.208.67', user='play', passwd='123', database='sk17', port=3306)
cur = conn.cursor()
cur.execute("show tables")
cur.fetchall()

In [ ]:
sql = "select * from kbo_player"
kbo_df = pd.read_sql_query(sql, con=conn) #대입 대상이 있어야함

In [ ]:
kbo_df.shape

In [ ]:
kbo_df.info()

In [ ]:
kbo_df.isnull() #모든 테이블을 True와 False로 결측치 보여줌 , isint는 없음
kbo_df.isnull().sum() #결측치 전부 더해서 보여줌 (true는 )
# player_number    20   결측치 20개
# name              0
# kbo_id            0
# team              0
# position          1
# birthday          0
# height            1
# weight            1
# career            0
# dtype: int64

#결측치는 평균값 삽입 혹은 삭제 등으로 처리
#결측치가 없는 칼럼의 수는?

In [ ]:
#describe()는 요약 통계(기술 통계)
# include 옵션을 사용하면 특정 데이터 타입의 열만 골라서 요약할 수 있습니다.
kbo_df.describe()       #기본적으로 수치형(numeric) 데이터만 요약 : 갯수, 평균, 표준편차, 최소값, 1분위값, 중위값, 3분위값, 4분위값

In [ ]:
# include=['object', 'category']는
# 문자열(텍스트) 데이터(object 타입)와
# 범주형 데이터(category 타입) 열에 대해서만
# 요약 통계를 보여달라는 뜻입니다.

# 각 타입의 의미
# object: 판다스에서 문자열(텍스트) 데이터가 저장되는 기본 타입

# category: 범주형 데이터(예: 팀명, 등급 등 한정된 값만 가질 수 있는 데이터)
kbo_df.describe(include=['object', 'category'])

In [ ]:
kbo_df.columns  #칼럼 리스트 반환 , pandas.core.indexes.base.Index타입입

In [ ]:
#데이터 접근 iloc, loc
#pandas.core.frame.DataFrame 타입이며, print함수로 출력 가능능
#1:4 처럼 범위 선택 가능

#iloc은 인덱스로 접근        
kbo_df.iloc[4,1]        # 구본혁

#loc는 low, column 명으로 접근
kbo_df.loc[1,'name']    # 강민균

In [ ]:
kbo_df.iloc[2:5, 1]

In [ ]:
kbo_df.loc[1:5 ,'name':'career']

In [ ]:
import numpy as np

#넘파이는 브로드 연산 가능
np.array([1,2,3,4]) + 10
np.array([1,2,3,4]) == 1

In [ ]:
#넘파이를 원소로 갖는 판다스도 가능

masked = kbo_df['position'] == "투수"
#True or False로 이루어진 시리즈
type(masked)        #pandas.core.series.Series

In [ ]:
kbo_df[masked] #투수만 반환

In [ ]:
#두산의 투수만 반환
#파이썬 비트연산 &, | , !
masked = (kbo_df['position'] == "투수") & (kbo_df['team'] == "두산")
kbo_df[masked]

In [ ]:
#키180이상, 몸무게 100이상 선수
masked = (kbo_df['height'] >= 180) & (kbo_df['weight'] >= 100)
kbo_df[masked]

#두산 또는 삼성 소속 선수
masked = (kbo_df['team'] == '두산') | (kbo_df['team'] == '삼성')
kbo_df[masked]

In [ ]:
kbo_df[[False]*893]

In [ ]:
#하드코딩 : 당시에만 활용 가능한 코딩
#get_age1는 2025년에만 나이가 제대로 출력됨
def get_age1(x):
    2025 -int(x.split("-")[0])

In [ ]:
from datetime import date, datetime

#date.today() 오늘 날짜 출력력
def get_age2(x):
    return date.today().year -int(x.split("-")[0])

#kbo_df['birthday'] 가 datetime이어서 int(x.split("-")[0])할 수 없음음

In [ ]:
def get_age3(x):
    return date.today().year -x.year

In [ ]:
kbo_df['age'] = kbo_df['birthday'].apply(get_age3)
#kbo_df['age'] 는 DF에 열 추가됨

In [ ]:
#apply는 람다를 많이씀
kbo_df['age'] = kbo_df['birthday'].apply( lambda x : date.today().year - x.year)

#bmi -> 몸무게 / 키^2

In [ ]:
kbo_df['bmi'] = kbo_df[['weight', 'height']].apply( lambda x : x[0] / x[1]**2)

In [ ]:
kbo_df['bmi'] = kbo_df[['weight', 'height']].apply(
    lambda x: x['weight'] / (x['height']/100)**2  , axis=1
)

In [ ]:
kbo_df['bmi2'] = kbo_df['weight'] / (kbo_df['height']/100)**2

In [ ]:
#판다스는 벡터연산을 사용해야 빠름. 벡터연산 어떻게하는지 알아야함
a = kbo_df.groupby(['team'])['height'].mean()               #시리즈 타입
b = kbo_df.groupby(['team'])[['height']].mean()             #DF 타입
kbo_agg = kbo_df.groupby(['team'])[['height', 'weight']].mean()   #DF 타입

In [ ]:
kbo_agg

In [ ]:
kbo_agg.index

In [ ]:
#둘다 가능
kbo_agg.loc['한화',]        #시리즈 타입
kbo_agg.loc['한화']         

#
kbo_agg.loc['KT':'NC',]

In [ ]:
type(kbo_agg.loc['한화',])

In [ ]:
import requests
url = "https://www.starbucks.co.kr/store/getStore.do?r=86N465IIB2"
payload = {"in_biz_cds": "0",
"in_scodes": "0",
"ins_lat": "37.4745",
"ins_lng": "126.8918",
"search_text": "",
"p_sido_cd": "01",
"p_gugun_cd": "",
"in_distance": "0",
"in_biz_cd": "",
"isError": "true",
"searchType": "C",
"set_date": "",
"all_store": "0",
"T03": "0",
"T01": "0",
"T27": "0",
"T12": "0",
"T09": "0",
"T30": "0",
"T05": "0",
"T22": "0",
"T21": "0",
"T36": "0",
"T43": "0",
"Z9999": "0",
"T64": "0",
"T66": "0",
"P02": "0",
"P10": "0",
"P50": "0",
"P20": "0",
"P60": "0",
"P30": "0",
"P70": "0",
"P40": "0",
"P80": "0",
"whcroad_yn": "0",
"P90": "0",
"P01": "0",
"new_bool": "0",
"iend": "1000",
"rndCod": "XW4W0LA4X8",}
r = requests.post(url, data=payload)
star = r.json()
star_df = pd.DataFrame(star['list'])
star_df

In [ ]:
star_df.iloc[0]

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
star_df2 = star_df[["s_code", "s_name", "addr",  "defaultimage", "doro_address", "lat",  "lot", "open_dt", ]].copy()

In [ ]:
star_df2.tail(5)

In [ ]:
star_df2.info

In [ ]:
#df.values or series.values 는 넘파이 배열로 반환
star_df2.open_dt.values

#이건 시리즈로 변환 
star_df2['open_dt']

In [ ]:
#open_dt를 파이썬의 날짜타입으로 변경
from datetime import datetime, date, time

star_df2['open_dt_datetype'] = star_df2['open_dt'].apply(lambda x : date(int(x[0:4]), int(x[4:6]), int(x[6:])))

star_df2.open_dt_datetype2 = star_df2.open_dt.apply((lambda x : datetime.strptime(x,'%Y%m%d')))

In [ ]:
#open_year 추가
star_df2['open_year'] = star_df2['open_dt_datetype'].apply(lambda x : x.year)

In [ ]:
open_inyear = star_df2['open_year'].value_counts()
type(open_inyear)
open_inyear

In [ ]:
star_df2.tail(5)

In [ ]:
# 옵션 초기화
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [ ]:
time_url ="https://www.starbucks.co.kr/store/getStoreTime.do
"

In [ ]:
time_payload = {
    "in_biz_cd" : "4247"
    "in_store_type": "C"
    "rndCod" : "0ZKPG4SMG6"
    }

In [ ]:
view_url = "https://www.starbucks.co.kr/store/getStoreView.do"
view_payload = {'in_biz_cd' : '3672',
                'rndCod' : '0S54HHYI84'}
pd.DataFrame(requests.post(view_url, data=view_payload).json()['view'])

In [ ]:
star_df2 = star_df[["s_name" , 's_biz_code',  "addr",  "defaultimage", "doro_address", "lat",  "lot", "open_dt", ]].copy()

In [ ]:
star_df2.head(2)

In [ ]:
import time , tqdm
total =[]
for _, data in star_df2.iterrows():
    biz_code = data['s_biz_code']
    view_payload['in_biz_cd'] = biz_code
    total.append(pd.DataFrame(requests.post(view_url, data=view_payload).json()['view']))
    if _ % 100 == 99:
        time.sleep(3)

In [ ]:
#iterrows()
#인덱스와 함께 데이터를 하나씩 반환환

In [ ]:
t1 = pd.concat(total)

In [ ]:
t1["addr"]

In [ ]:
import pickle
with open("./")

In [ ]:
star_parking_df2 = pd.read_pickle("starbucks_park.pkl")

In [212]:
star_parking_df2

,s_biz_code,park_info,map_desc
0,3762,1.주차가능 2.주차위치-매장 후면 3.주차가능대수-10대 이상(장애인 포함) 4....,"르네상스호텔사거리 개나리주유소 옆, 역삼아레나빌딩 1층에 위치합니다.\n선릉역 4번..."
0,3672,주차 불가능,지하철 7호선 논현역 2번출구 강남역 방향 도보 2분이내 (70m)\n지하철 9호선...
0,3858,주차 불가능,신사역 3번 출구 논현역방향 직진 성일빌딩 1층(도보 300m)
0,3669,1. 주차 불가,"강남역 12번 출구 도보 7분, 역삼역 4번출구 도보 5분거리"
0,3703,1.주차 불가능,3호선 대치역 3호선 2번 출구 정면에 위치 해 있습니다.
...,...,...,...
0,9686,1. 주차가능 2. 주차장위치 - 매장 옆 기계식 주차장 이용 3. 주차가능대수 -...,지하철7호선 상봉역 1번출구 또는 중앙선 상봉역 8번 출구에서 50M
0,3936,1. 주차 가능 2. 주차장 위치 - 입점건물 지하 3. 주차가능대수 - 10대 ...,"지하철 : 태릉입구역 7번출구, 먹골역 1번출구에서 직진\n버스 : 105, 14..."
0,4611,주차불가,망우역에서 구리방면으로 500m (도보 7분)
0,4307,1. 주차 가능 (매장 주차지원없음- 회차 30분이외 주차요금 부과) 2. 주차...,경의중앙선 양원역 1번 출구
0,3801,1.주차불가능,중화역 3번 출구에서 노브랜드 버거 방향으로 100m입니다.

In [ ]:
star_df2

In [203]:
star_df3 = pd.merge(star_df2, star_parking_df2, left_on = ['s_biz_code'], right_on=['s_biz_code'], how='inner')

In [223]:
isable = star_df3['park_info'].value_counts()
# open_inyear = star_df2['open_year'].value_counts()
isable

park_info
주차 불가                                                                                                                                   56
주차 불가능                                                                                                                                  40
1.주차 불가능                                                                                                                                39
1.주차불가능                                                                                                                                 33
1. 주차불가능                                                                                                                                29
                                                                                                                                        ..
1. 주차 가능 2.  주차위치 - 건물상가 지하주차장 3. 주차가능대수 - 10대 이상 4. 주차조건 - 2시간 무료 (파트너등록요청필수)                                                           1
1.주차가능 2.주차장 위치 - 입점 건물(1차) 지하주차장. 2차 건물 주차시 주차 지원 안됨. 3.주차가능대수 - 50대 이상 4.주차조건-조건부 무료(당일 구매시 2시간 무료) 5.주차요금정산방법 - 영수증 지참하여 파트너에게 요청     1
1. 주차가능 2. 주차장 정보 - 입점건물 지하주차장 3.주차가능대수 - 20대 이상  4.주차조건 - 조건부 무료, 영수증 1만원이상시 총 1시간 무료(회차 30분/무료 30분)  5.주차요금정산방법 - 영수증지참하여 파트너에게 요청     1
1. 주차가능 2. 주차장 위치- 입점건물 지하 주차장, 주차가능대수- 100대 이상 4. 주차조건- 최초 30분 무료, 이후 10분당 5백원 5. 주차요금정산방법- 파트너에게 요청                                    1
1.주차가능 2.주차장 위치-건물지하주차장(블루라인) 3.주차가능대수 -50대이상 4.주차조건-구매시 최대 1시간 무료주차 가능 / 10분당 2,000원 추가 요금  5.주차정산방법-파트너등록요청                            1
Name: count, Length: 345, dtype: int64

In [ ]:
star_df3['park_info'].notnull().

In [238]:
star_df3.loc[star_df3['park_info'].notnull(),]['park_info'].apply(lambda x : x.find("불가") > -1).sum()

np.int64(381)

In [237]:
sum(star_df3.park_info.str.find("불가") > -1)

381

In [239]:
star_df3[star_df3.park_info.isnull()]['map_desc'].values[0]

'북가좌오거리 위치,주차불가'

In [240]:
star_df3.loc[ star_df3.park_info.isnull(), 'park_info'] = star_df3[star_df3.park_info.isnull()]['map_desc'].values[0]

In [241]:
star_df3.park_info.isnull().sum()

np.int64(0)

In [242]:
sum(star_df3.park_info.str.find("불가") > -1)

382

In [245]:
star_df3.loc[star_df3.park_info.str.find("불가") == -1, 'park_yn'] = True

In [249]:
star_df3.park_yn.isnull().sum()

np.int64(382)

In [ ]:
star_df3.park_yn.fillna(False)
#fillna 는 결측치를 채워서 반환

star_df3['park_yn'] = star_df3.park_yn.fillna(False)
#이렇게 해야함

/tmp/ipykernel_18540/1666250794.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  star_df3.park_yn.fillna(False)
/tmp/ipykernel_18540/1666250794.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  star_df3['park_yn'] = star_df3.park_yn.fillna(False)

In [252]:
star_df3.park_yn

0       True
1      False
2      False
3      False
4      False
       ...
638     True
639     True
640    False
641     True
642    False
Name: park_yn, Length: 643, dtype: bool

In [ ]:
star_df3.open_dt = star_df3.open_dt.apply(lambda x : datetime.strptime(x, "%Y%m%d"))




star_df3.open_dt.apply(lambda x : x.weekday()).value_counts()


star_df3.sort_values(by=['open_dt'], ascending=False)


star_df3.open_dt.apply(lambda x : x.year).value_counts().sort_index().plot()