In [ ]:
import pandas as pd
pd.__version__     #버전확인
df= pd.DataFrame({'a' : [1,2,3], 'b' : [2,3,4]})    #칼럼이름 : [칼럼값] 으로 데이터 생성
type(df)    #pandas.core.frame.DataFrame : 타입은 판다스df객체로

In [ ]:
pd.Series(arr, dtype='int32')
Pandas의 Series는 1차원 배열로서 다음의 특징을 가집니다.
데이터를 담는 차원 배열 구조를 가집니다.
인덱스(index)를 사용 가능합니다.
데이터 타입을 가집니다. (dtype)

생성 : 넘파이 array로 생성, 파이썬 list로 생성
arr = np.arange(100, 105)
s = pd.Series(arr)
s = pd.Series(arr, dtype='int32')

pylist = ['부장', '차장', '대리', '사원', '인턴']
s = pd.Series(pylist)
s = pd.Series(pylist, dtype = 'int32')

In [ ]:
df

In [ ]:
df['a']

In [ ]:
type(df['a'])

In [ ]:
df['a'].values #출력 : array([1, 2, 3])
test = df['a'].values

In [ ]:
#넘파이는 선형대수에 관한 패키지 
DF에서 행 또는 열을 가져오면 시리즈가 된다.
DF하나의 원소는 넘파이로 되어있다.

In [ ]:
import pymysql
conn = pymysql.connect(host='222.112.208.67', user='play', passwd='123', database='sk17', port=3306)
cur = conn.cursor()

In [ ]:
sql = "select * from kbo_player"
kbo_df = pd.read_sql_query(sql, con=conn) #대입 대상이 있어야함

In [ ]:
kbo_df.shape # (893, 9)
kbo_df.info()

In [ ]:
kbo_df.isnull() #모든 테이블을 True와 False로 결측치 보여줌 , isint는 없음
kbo_df.isnull().sum() #결측치 전부 더해서 보여줌 (true는 )
# player_number    20   결측치 20개
# name              0
# kbo_id            0
# team              0
# position          1
# birthday          0
# height            1
# weight            1
# career            0
# dtype: int64

#결측치는 평균값 삽입 혹은 삭제 등으로 처리
#결측치가 없는 칼럼의 수는?

In [ ]:
#describe()는 요약 통계(기술 통계)
#기본적으로 수치형(numeric) 데이터만 요약 : 갯수, 평균, 표준편차, 최소값, 1분위값, 중위값, 3분위값, 4분위값
# include 옵션을 사용하면 특정 데이터 타입의 열만 골라서 요약
kbo_df.describe()

In [ ]:
# include=['object', 'category']는
# 문자열(텍스트) 데이터(object 타입)와
# 범주형 데이터(category 타입) 열에 대해서만 요약약

# object: 판다스에서 문자열(텍스트) 데이터가 저장되는 기본 타입
# category: 범주형 데이터(예: 팀명, 등급 등 한정된 값만 가질 수 있는 데이터
kbo_df.describe(include=['object', 'category'])

In [ ]:
kbo_df.columns  #칼럼 리스트 반환 , pandas.core.indexes.base.Index타입

In [ ]:
#데이터 접근 iloc, loc
#pandas.core.frame.DataFrame 타입이며, print함수로 출력 가능능
#1:4 처럼 범위 선택 가능

#iloc은 인덱스로 접근        
kbo_df.iloc[4,1]        # 구본혁

#loc는 low, column 명으로 접근
kbo_df.loc[1,'name']    # 강민균

#사용 예시
kbo_df.iloc[2:5, 1]
kbo_df.loc[1:5 ,'name':'career']
kbo_df.loc[: ,'name':'career']

In [ ]:
#브로드캐스팅 : 원소 전체에 연산을 적용하는 것으로 판다스의 객체와 넘파이의 배열이 가능하다.
import numpy as np

np.array([1,2,3,4]) + 10
np.array([1,2,3,4]) == 1
df['col'] = df['col'] + 1


masked = kbo_df['position'] == "투수"

#True or False로 이루어진 시리즈
type(masked)        
#pandas.core.series.Series

In [ ]:
#조건에 맞는 True or False로 이루어진 시리즈를 이용하여
#조건에 맞는 값만 반환하는 기법 : 마스크 mask
kbo_df[masked] #투수만 반환

#두산의 투수만 반환
#파이썬 비트연산 &, | , !
masked = (kbo_df['position'] == "투수") & (kbo_df['team'] == "두산")
kbo_df[masked]

In [ ]:
#apply()는 모든 원소에 함수를 적용한다.

def get_age3(x):
    return date.today().year -x.year

kbo_df['age'] = kbo_df['birthday'].apply(get_age3)
#kbo_df['age'] 는 DF에 열 추가됨

#apply는 람다를 많이씀
kbo_df['age'] = kbo_df['birthday'].apply( lambda x : date.today().year - x.year)

In [ ]:
a = kbo_df.groupby(['team'])['height'].mean()               #시리즈 타입
b = kbo_df.groupby(['team'])[['height']].mean()             #DF 타입
kbo_agg = kbo_df.groupby(['team'])[['height', 'weight']].mean()   #DF 타입

In [ ]:
#둘다 가능
kbo_agg.loc['한화',]        #시리즈 타입
kbo_agg.loc['한화']         

#
kbo_agg.loc['KT':'NC',]

In [ ]:
#iterrows()
#iterrows(df)인덱스와 함께 데이터를 하나씩 반환
#시리즈는 안됨 
#사용 예시, 스타벅스 데이터 가공 파일에서 확인 
import time , tqdm
total =[]
for _, data in star_df2.iterrows():
    biz_code = data['s_biz_code']
    view_payload['in_biz_cd'] = biz_code
    total.append(pd.DataFrame(requests.post(view_url, data=view_payload).json()['view']))
    if _ % 100 == 99:
        time.sleep(3)

In [ ]:
concat이란

import pandas as pd
pd.concat([df1, df2], axis=0, join='outer', ignore_index=False)
[df1, df2]: 합칠 데이터프레임(또는 시리즈) 리스트

axis=0: 행 방향(위아래)으로 합침 (기본값)
axis=1: 열 방향(좌우)으로 합침
join: 'outer'(기본)면 모든 인덱스/컬럼을 포함, 'inner'면 공통된 부분만 포함
ignore_index=True: 인덱스를 새로 부여

In [ ]:
Merge 명령어 사용법?	pd.merge(left, right, how, on, left_on, right_on, left_index, right_index)
	left : Merge 할 왼쪽 DataFrame
	right : Merge 할 오른쪽 DataFrame
	how : inner, left, right, outer
	on : 두 DataFrame을 Join할 기준 컬럼명(컬럼명이 동일할 경우)
	left_on : Join할 기준 컬럼의 왼쪽 DataFrame의 컬럼명
	right_on : Join할 기준 컬럼의 오른쪽 DataFrame의 컬럼명
	left_index : 왼쪽 DataFrame index로 Join할 경우 True
	right_index : 오른쪽 DataFrame index로 Join할 경우 True

concat 명령어 사용법?	pd.concat([left,right], axis, join,...)
	[left,right] : left DataFrame과 right DataFrame으로 이루어진 List
	axis = 0 : 행기준으로 합치기, 1: 열기준으로 Index명으로 합치기