In [ ]:
from sqlalchemy import create_engine, MetaData, Table

user= 'play'
password = '123'
host='222.112.208.67'
port = 3306
database='sk17'
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [ ]:
metadata = MetaData()
kbo_detail2 = Table('kbo_detail2', metadata, autoload_with=engine)

user= 'play'
password = '123'
host='127.0.0.1'
port = 3306
database='sk17'
engine2 = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

# 1. 테이블 구조 생성
metadata.create_all(engine2)

# 2. 데이터 복사 (pandas 활용)
import pandas as pd

# 원본 테이블 데이터 읽기
df = pd.read_sql_table('kbo_detail2', engine)

# 대상 테이블에 저장
df.to_sql(  
    name='kbo_detail2',
    con=engine2,
    if_exists='replace',  # 'append' 또는 'replace' 선택
    index=False
)