In [ ]:
import os
import pandas as pd
import zipfile

In [ ]:
path = "./data_work/"
with zipfile.ZipFile("./data/2016.zip") as f:
    f.extractall(path)

In [ ]:
dfs = {}
n = 0
for file in os.listdir(path):
    if file.split(".")[-1] =="csv":
        dfs[n] = pd.read_csv(path + file, encoding='euc-kr')
        n += 1
len(dfs)

In [ ]:
dfs2 = {}
n = 0
for file in os.listdir(path):
    if file.split(".")[-1] =="csv":
        dfs2[n] = pd.read_csv(path + file, encoding='euc-kr')
        n += 1
len(dfs2)

In [ ]:
sum =0
for i in range(12):
    sum += dfs[i].shape[0]
sum

In [ ]:
dfs[12].shap

In [ ]:
for i in range(0,12):
    print(len(dfs[i].columns))

In [ ]:
df_cols = pd.DataFrame()
for i in range(12):
    df_cols = pd.concat([df_cols, pd.Series(dfs[i].columns).to_frame().T], ignore_index=True)

In [ ]:
df_cols.to_csv('df_cols.csv', encoding='euc-kr')

In [ ]:
colss = list(set(df_cols.values.flatten()))
print(colss)

In [ ]:
len(colss)

In [ ]:
for i in range(0,12):
    for j in dfs[i].columns:
        if "~" in j:
            new = j[0:2] + f"-{(int(j[0:2])+1):02d}"
            dfs[i].rename(columns={j: new}, inplace=True)

In [ ]:
df_cols_new = pd.DataFrame()
for i in range(12):
    df_cols_new = pd.concat([df_cols_new, pd.Series(dfs[i].columns).to_frame().T], ignore_index=True)

In [ ]:
df_cols_new.to_csv('df_cols_new.csv', encoding='euc-kr')

In [ ]:
df_cols_new

In [ ]:
tmp= list(set(df_cols_new.values.flatten()))
new_cols = []
for i in tmp:
    if type(i) == str:
        new_cols.append(i)
new_cols

In [ ]:
new_cols.sort()
tmp11 = new_cols[-5:]
tmp11.extend(new_cols[:-6])
tmp11

In [ ]:
new_cols = tmp11

In [ ]:
must_mod = []

for i in range(12):
    for col in dfs[i].columns:
        if not col in new_cols:
            must_mod.append(i)

In [ ]:
dfs[i].rename(columns={j: new}, inplace=True)

In [ ]:
for i in must_mod:
    dfs[i].rename(columns={'구 분': '구분'}, inplace=True)

In [ ]:
total = pd.DataFrame(columns=new_cols)
for i in range(12):
    total = pd.concat([total, dfs[i]])

In [ ]:
total.head(3)

In [ ]:
total['구분'].dtypes

In [ ]:
total.dtypes

In [ ]:
from sqlalchemy import create_engine, MetaData, Table
import sqlalchemy

user= 'play'
password = '123'
host='222.112.208.67'
port = 3306
database='sk17'
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [ ]:
total.shape

In [ ]:
total.to_sql(name='오원장의2016년지하철승하차정보종합데이터로29의칼럼과312366개의레코드로구성되어있습니다', con=engine, if_exists='replace', index=False)

In [ ]:
from sqlalchemy import create_engine, inspect, text


datanum = [ ]
# 2. 모든 테이블 이름 조회
inspector = inspect(engine)
tables = inspector.get_table_names()

# 3. 테이블별 레코드 수 계산 및 출력
with engine.connect() as conn:
    for table in tables:
        query = text(f"SELECT COUNT(*) AS cnt FROM {table}")
        result = conn.execute(query)
        count = result.scalar()  # 첫 번째 행의 첫 번째 컬럼 값 추출
        datanum.append([table, count])

In [ ]:
for i in datanum:
    print(f"테이블명 : {i[0]} /t/t 데이터수 : {i[1]}")

In [ ]:
df.columns = df.columns.str.replace('old', 'new')